* {
    margin: 0;
}

$colors: red, blue, green, black, white, yellow, gray, pink;
$displays: inline, block, none, grid, flex;
$juscon: center, end, space-around, space-evenly, space-between;
$jusit: center, end, space-around, space-evenly, space-between;
$aliitem: center, end;
$tili: center, end;
$border: none;
$out: none;
$position: relative, absolute, fixed, static, sticky;
$colorMap: (
    mywhite:#ffffff,
    myred: #dc1d1d,
    myblue: #133db2,
    mygreen: #17ce32,
    mukabut:#00486D,
    myxok:#d3deff55,
    mynane:#aaaaaa00,


);
.out{
    outline:  none;
    border: none;
}
@for $i from 1 through 225 {
    .text-#{$i} {
        font-size: #{$i}px;
    }

    .b-#{$i} {
        border: #{$i}px solid rgb(177, 177, 177);
    }

    .br-#{$i} {
        border-radius: #{$i}px;
    }


    .m-#{$i} {
        margin: #{$i * 5}px;
    }

    .mt-#{$i} {
        margin-top: #{$i * 5}px;
    }

    .mr-#{$i} {
        margin-right: #{$i * 5}px;
    }

    .mb-#{$i} {
        margin-bottom: #{$i * 5}px;
    }

    .ml-#{$i} {
        margin-left: #{$i * 5}px;
    }

    .p-#{$i} {
        padding: #{$i * 5}px;
    }

    .pt-#{$i} {
        padding-top: #{$i * 5}px;
    }

    .pr-#{$i} {
        padding-right: #{$i * 5}px;
    }

    .pb-#{$i} {
        padding-bottom: #{$i * 5}px;
    }

    .pl-#{$i} {
        padding-left: #{$i * 5}px;
    }

    .w-#{$i} {
        width: #{$i *10}px;
    }

    .h-#{$i} {
        height: #{$i*10}px;
    }

   


}

@each $i in $colors {
    .text-#{$i} {
        color: $i;
    }

    .bg-#{$i} {
        background-color: $i;
    }
}


@each $i in $displays {
    .d-#{$i} {
        display: $i;
    }
}

@each $i in $border {
    .bn-#{$i} {
        border: $i;
    }
}
@each $i in $out {
    .out-#{$i} {
        outline: none;
    }
}

@each $i in $juscon {
    .jc-#{$i} {
        justify-content: $i;
    }
}
@each $i in $jusit {
    .ji-#{$i} {
        justify-items: $i;
    }
}

@each $i in $aliitem {
    .ai-#{$i} {
        align-items: $i;
    }
}

@each $i in $tali {
    .ta-#{$i} {
        text-align: $i;
    }
}

@each $i in $position {
    .ps-#{$i} {
        position: $i;
    }

}

@each $name, $color in $colorMap {
    .text-#{$name} {
        color: $color;
    }

    .bg-#{$name} {
        background-color: $color;
    }
}
@for $i from 1 through 200 {
    .t-#{$i} {
        top: #{$i * 25}px;
    }

    .l-#{$i} {
        left: #{$i * 5}px;
    }

    .b-#{$i} {
        bottom: #{$i * 5}px;
    }

    .r-#{$i} {
        right: #{$i * 5}px;
    }
    }